body, html {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    justify-items: center;
}

#bm {
    width: 1024px;
    z-index: -1;
    position: absolute;
}

#mais {
    width: 1024px;
    position: absolute;
}

#homenagem {
    width: 1024px;
    z-index: 1;
    position: absolute;
}

audio {
    position: relative;
    top: 100px;
}

#insta {
    width: 150px;
    height: 50px;
    position: relative;
    top: 502px;
    left: 50px;
    opacity: 0;
    z-index: 1;
}

#forms {
    width: 210px;
    height: 50px;
    position: relative;
    top: 452px;
    left: 260px;
    opacity: 0;
    z-index: 1;
}

#info {
    width: 140px;
    height: 50px;
    position: relative;
    top: 402px;
    left: 520px;
    opacity: 0;
    z-index: 1;
}

#medo {
    width: 160px;
    height: 50px;
    position: relative;
    top: 352px;
    left: 812px;
    opacity: 0;
    z-index: 1;
}

#cita {
    width: 25px;
    height: 25px;
    position: relative;
    top: 50px;
    left: 626px;
    opacity: 1;
    z-index: 1;
}

#foto {
    width: 25px;
    height: 25px;
    position: relative;
    top: 25px;
    left: 656px;
    opacity: 0;
    z-index: 1;
}

#audio {
    width: 25px;
    height: 25px;
    position: relative;
    top: 0px;
    left: 686px;
    opacity: 0;
    z-index: 1;
}

.close {
    width: 25px;
    cursor: pointer;
    opacity: 0;
}