body, html {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    justify-items: center;
    background-color: #e7e7e7;
}

#bm {
    width: 800px;
    z-index: 0;
    position: absolute;
}

#mais {
    width: 800px;
    position: absolute;
}

#homenagem {
    width: 800px;
    z-index: 1;
    position: absolute;
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 500px;
}

#insta {
    width: 150px;
    height: 50px;
    position: relative;
    top: 640px;
    left: 67px;
    opacity: 0;
    z-index: 1;
}

#forms {
    width: 210px;
    height: 50px;
    position: relative;
    top: 590px;
    left: 329px;
    opacity: 0;
    z-index: 1;
}

#info {
    width: 140px;
    height: 50px;
    position: relative;
    top: 540px;
    left: 663px;
    opacity: 0;
    z-index: 1;
}

#medo {
    width: 160px;
    height: 50px;
    position: relative;
    top: 490px;
    left: 1041px;
    opacity: 0;
    z-index: 1;
}

#vr {
    width: 140px;
    height: 100px;
    position: relative;
    top: -127px;
    left: 1160px;
    opacity: 0;
    z-index: 1;
}

#cita {
    width: 25px;
    height: 25px;
    position: relative;
    top: 63px;
    left: 790px;
    opacity: 0;
    z-index: 1;
}

#foto {
    width: 25px;
    height: 25px;
    position: relative;
    top: 38px;
    left: 829px;
    opacity: 0;
    z-index: 1;
}

#audio {
    width: 25px;
    height: 25px;
    position: relative;
    top: 13px;
    left: 870px;
    opacity: 0;
    z-index: 1;
}

.close {
    width: 25px;
    cursor: pointer;
    opacity: 0;
}